@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.home{
    display: flex;
}

.leftSection{
    display: flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    color: white;
    width: 50%;
    height: 70vh;
}
.rightSection{
    width: 50%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fP{
    border-radius: 20px;
    height: 70%;
    object-fit: cover;
    border:3px solid #376d57;
    box-shadow: 0px 0 20px #0000006c;
}

.center{
    padding: 100px 50px;
    width: 80%;
}

.center p{
    color: grey;
}

.tag{
    display: inline;
    border: 2px solid #376d57;
    padding: 10px 20px;
    border-radius:20px ;
    color: #f5da67;
    font-weight: 600;
    background:linear-gradient(150deg,#7b7b7b41 10%,#1f1e2e, #1f1e2e);
    box-shadow: 2px 2px 10px #000000ab;
}

.writing{
    /* border: 2px solid red; */
    margin: 20px 0;
}   

.heading{
    font-size: 3rem;
}

.writing p{
    font-size: 1.2rem;
    margin-bottom: 1rem;
}
.ContcBtn{
    position: relative;
    overflow: hidden;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    color: white;
    background: linear-gradient(150deg, #6369e6 10%, #bdb0c9 90%);
    font-weight: bold;
    padding: 10px 40px;
    border-radius: 7px;
    border: none;
    z-index: 1;
}
.btn{
    font-family: 'Poppins', sans-serif;
    font-weight:700;
    font-size: 0.95rem;
    margin-left: 20px;
    padding: 10px 40px;
    border: none;
    border-radius: 7px;
    background-color: greenyellow;
}