.home{
    display: flex;
}

.leftSection{
    border: 2px solid blue;
    width: 50%;
    height: 70vh;
}
.rightSection{
    /* border: 2px solid red; */
    width: 50%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fP{
    border-radius: 20px;
    height: 70%;
    object-fit: cover;
    border:3px solid rgb(10, 195, 10);
}